@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}
section {
    padding: 100px;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #ff0157;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover {
    letter-spacing: 4px;
    transition: 0.8s;
}
.highlight {
    color: #ff0157;
    font-size: 50px;
    font-weight: 700;
}
header.sticky {
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    background: #fff;
    .logo {
        color: #111;
    }
    .navigation {
        li {
            a {
                color: #111;
            }
            a:hover {
                color: #ff0157;
            }
        }
    }
}


// -----------------------------------
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 100px;
    justify-content: space-between;
    display: flex;
    z-index: 10000;
    transition: 0.5s;
    .logo {
        font-weight: 700;
        font-size: 32px;
        color: #fff;
        span {
            color: #ff0157;
        }
    }
    .navigation {
        display: inline;
        margin-top: 15px;
        display: flex;
        li {
            margin: 0 10px;
            list-style: none;
            a {
                text-decoration: none;
                padding: 5px;
                color: #fff;
                font-weight: 300;
            }
            a:hover {
                color: #ff0157;
            }
        }
    }
}
.banner {
    background: url(../images/bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    .content {
        color: #fff;
        text-align: center;
        max-width: 60%;
        h3 {
            font-size: 80px;
        }
        p {
            font-weight: 300;
        }
        .btn:hover {
            background: #ffcbdc11;
           
        }
    }
}
.about {
    .row {
        justify-content: space-between;
        display: flex;
        width: 100%;
        display: flex;
        position: relative;
        .col50 {
            position: relative;
            width: 48%;
            font-weight: 300;
            .title {
                h3 {
                    font-size: 30px;
                    font-weight: 300;
                }
            }
            .imgBx {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }     
        }
    }
}
.menu {
    align-items: center;
    justify-content: center;
    .title {
        width: 100%;
        justify-content: space-between;
        text-align: center;
        h3 {
            font-size: 32px;
            font-weight: 300;
        }
        p {
            margin-bottom: 60px;
        }
    }
    .content {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin-top: 40px;
        .box {
            margin: 18px;
            width: 340px;
            border: 15px solid #fff;
            box-shadow: 0 5px 35px rgba(0,0,0,0.08);
            transform: scale(1);
            transition: .2s ease-in-out;
            .imgBx {
                display: flex;
                position: relative;
                width: 100%;
                height: 300px;
                margin-bottom: 15px;
                img {
                    position: absolute;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
            .text {
                h3 {
                    font-weight: 400;
                }
            }
        }
        .box:hover {
            transform: scale(1.03);
            transition: 0.5s;
        }
    }
}
.expert {
    .title {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        h3 {
            font-size: 32px;
            font-weight: 300;
        }   
    }
    .content {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .box {
            margin: 10px;
            flex-direction: column;
            display: flex;
            min-width: 265px;
            border: 15px solid #fff;
            box-shadow: 0 5px 35px rgba(0,0,0,0.08);
            transform: scale(1);
            transition: .2s ease-in-out;    
            
            .text {
                width: 100%;
                text-align: center;
                padding: 15px 0px 5px;
                h3 {
                    font-weight: 400;
                }
            }
            .imgBx {
                position: relative;
                width: 100%;
                height: 300px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .box:hover {
            transform: scale(1.03);
            transition: 0.5s;
        }
        //Xuất hiện text
        .img__description_layer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(20, 22, 36, 0.445);
            color: #fff;
            visibility: hidden;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            transition: opacity .3s, visibility .3s;
        }
        .box:hover .img__description_layer {
            visibility: visible;
            opacity: 1;
        }
        .img__description {
            transition: .2s;
            transform: translateY(1em);
            letter-spacing: 1px;
        }
        .box:hover .img__description {
            transform: translateY(0);
        }
    }
}
.estmionials {
    background: url(../images/bg2.jpg) -450px 0;
    background-clip: cover;
    .title {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        color: #fff;
        h3 {
            font-size: 32px;
            font-weight: 300;
        }  
        p {
            color: #fff;
        } 
    }
    .content {
        display: flex;
        width: 100%;
        position: relative;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .box {
            position: relative;
            margin: 20px;
            display: flex;
            background: #fff;
            width: 340px;
            height: 100%;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            .text {
                text-align: center;
                padding: 15px 0 5px;
                p {
                    font-weight: 300;
                    font-style: italic;
                    margin-bottom: 20px;
                    
                }
                h5 {
                    font-weight: 600;
                    color: #ff0157;
                    font-size: 16px;
                } 
            }
            .imgBx {
            
                position: relative;
                width: 80px;
                height: 80px;
                overflow: hidden;
               
                border-radius: 50%;
                img {   
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.contact {
    background: url(../images/bg3.jpg) 0 -50px;
    background-size: cover;
    
    .title {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        h3 {
            font-size: 32px;
            font-weight: 300;
        }   
    }
    .contactForm {
        h3 {
            font-size: 21px;
            font-weight: 400;
            margin-bottom: 20px;
        }   
        position: relative;
        box-shadow: 0 5px 35px rgba(0,0,0,0.08);
        width: 500px;
        height: 100%;
        padding: 50px;
        input, textarea {
            width: 100%;
            resize: none;
            margin-bottom: 20px;
            font-size: 16px;
            padding: 10px;
            outline: none;
        }
        input[type="submit"] {
            background: #ff0157;
            width: 100px;
            border: none;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
        }
        input[type="submit"]:hover {
            cursor: pointer;
        }
    }
}
footer {
    box-shadow: 0 -5px 35px rgba(0,0,0,0.08);
    p {
        display: inline-block;
        padding: 6px 40px;
        font-size: 16px;
        font-weight: 300;
        a {
            font-weight: 400;
            color: #ff0157;
            text-decoration: none;
        }
    }
}

@media(max-width: 991px) {
    header, header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    .menuToggle {
        background: url(../images/menu.png);
        position: relative;
        width: 40px;
        height: 34px;
        background-size: 30px;
        background-repeat: no-repeat;
        display: flex;
        cursor: pointer;
        margin-top: 15px;
    }
    .menuToggle.active {
        height: 34px;
        position: relative;
        top: -8px;
        left: -7px;
        background: url(../images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
    header .navigation.active {
        min-width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 53px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        flex-direction: column;
        li {
            a {
                font-size: 28px;
                color: #111;
            }
        } 
    }
    section {
        padding: 20px;
    }
    .banner {
        .content {
            max-width: 90%;
            h3 {
                font-size: 45px;
            }
        }
    }
    .about .row {
        flex-direction: column;
        .col50 {
            position: relative;
            min-width: 100%;
            .imgBx {
                position: relative;
                min-width: 100%;
                height: 300px;
                margin-top: 20px;
            }
        }
    }
}