* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 1180px;
    height: 200px;
    background-image: url(/asset/img/bi.jpg);
    font-family: Helvetica,sans-serif;
    color: #fff;
}


li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    padding: 42px 75px;
}

li:last-child {
    margin-right: 0;
}

.icon {
    position: relative;
    margin-top: -10px;
    margin-bottom: 10px;
}

.icon, .number {
    font-size: 38px;
}

.number {
    margin-bottom: 10px;
}