* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ccc;
}

/* Navbar */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 42px;
  background-color: #EF5122;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav-list {
  padding-left: 0;
  margin: auto 16px;
}

.nav .nav-list .nav-item {
  color: #fff;
  list-style: none;
  margin: 0 8px;
  display: inline-block;
}

/* Form layout */
.form-container {
  max-width: 720px;
  padding: 32px;
  margin: 36px auto 0 auto;
  background-color: #fff;
}

.form-container .form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
}

.form-container .form__row .form__label {
  min-width: 90px;
}

.form-container .form__row .form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Column layout */
.column-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  padding: 12px 0;
  background-color: #fff;
}

.column-layout .column-item {
  padding: 0 16px;
}

.column-layout .sidebar-one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.column-layout .sidebar-two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.column-layout .main-column {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/* Feature layout */
.feature-layout {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-layout .feature-item {
  padding: 12px 16px;
  margin-top: 16px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.feature-layout .feature-item:nth-child(1) {
  background-color: #c0e3de;
}

.feature-layout .feature-item:nth-child(2) {
  background-color: #e3c8c0;
}

.feature-layout .feature-item:nth-child(3) {
  background-color: #e2c0e3;
}

/* PC, Tablet */
@media (min-width: 740px) {
  .feature-layout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* Wrap layout */
.wrap-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  margin-top: 36px;
  padding: 12px 0 32px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap-layout .wrap-layout__item {
  width: 148px;
  height: 90px;
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  background-color: #EF5122;
}

/* Center layout */
.center-layout {
  background-color: #c0e3c2;
  margin: 36px auto 0 auto;
  padding: 32px 0;
  max-width: 640px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-layout .center-layout__item {
  font-size: 42px;
  font-weight: 700;
}

/* Chart layout */
.chart-layout {
  margin: 36px auto 0 auto;
  padding: 32px 0;
  height: 320px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chart-layout .chart-layout__item {
  width: 60px;
  color: #fff;
  text-align: center;
  height: var(--percent);
  background-color: #EF5122;
  -webkit-animation: growth ease-in 0.5s;
          animation: growth ease-in 0.5s;
}

@-webkit-keyframes growth {
  from {
    opacity: 0;
    height: calc(var(--percent) - 50%);
  }
  to {
    height: var(--percent);
    opacity: 1;
  }
}

@keyframes growth {
  from {
    opacity: 0;
    height: calc(var(--percent) - 50%);
  }
  to {
    height: var(--percent);
    opacity: 1;
  }
}

/* End */
.the-end {
  margin: 12px auto 48px auto;
  padding: 32px 0;
  max-width: 740px;
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.the-end .the-end__first {
  padding: 4px 16px;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.the-end .the-end__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.the-end .the-end__second .the-end__second-one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4px 16px;
  background-color: #e3c0d6;
}

.the-end .the-end__second .the-end__second-two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4px 16px;
  background-color: #c0d2e3;
}
/*# sourceMappingURL=style.css.map */