.productive {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: $mainBg;
    top: -1px;
    left: 0;
    right: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 50px;
    max-width: 600px;
    margin: 0 auto;

    @include breakpoint-up(large) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1320px;
    }
  }

  &__image {
    text-align: center;

    img {
      width: 100%;
      max-width: 615px;
    }
  }

  &__text {
    h2 {
      @include breakpoint-up(large) {
        max-width: 400px;
      }
    }

    a {
      background-image: url("../images/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 25px;
      color: $ctaCyan;
      transition: all 150ms ease-in-out;
      position: absolute;
      line-height: 1.8;

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        right: 0;
        left: 0;
        bottom: -3px;
        background: $ctaCyan;
      }

      &:hover {
        filter: drop-shadow(2px 2px 3px);

        &::before {
          background-color: $ctaCyan;
        }
      }
    }
  }
}
